.background {
  background: url('/images/blue_skies.jpg') no-repeat center center;
  background-size: cover;
  height: 650px;
}

.admin-background {
  background-color: white;
  background-size: cover;
  height: 700px;
}

.background1 {
  background: url('/images/beach1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 650px;
}

.footer-background {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#left-txt {
  font-family: monospace;
  font-size: 22px;
  color: white;
}

#down-txt {
  font-family: serif;
  font-size: 25px;
  color: white;
}
div.ui.container a.item {
  font-size: 20px;
  padding-bottom: 20px;
}