.background {
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 450px;
}

.footer-background {
  background-color: #FDCFCF;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}